.navbar {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    width: 60rem;
    height: 8rem;
    align-items: center;
    text-align: center;
    margin-left: 32rem;
    border-radius: 15px;
    margin-top: 15px;
}